<div class="container">
    <div class="div" style="display: flex; flex-direction: row; justify-content:flex-end">
        <div style="padding: 10px">
            <a href="/PhieuThu/edit/{{ID}}" style="color:white;">
                <button type="button"class="btn btn-primary waves-effect waves-light" style="margin-bottom: 10px;">Sửa Thông Tin</button>
            </a>
        </div>
</div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Thông Tin Phiếu Thu</h2>
        </div>
        <div class="panel-body">
        <h4>

            <strong>ID:</strong>{{ID}}
        </h4>

        <h4>

            <strong>Đại Lý:</strong>{{DaiLy_ID}}
        </h4>
        <h4>

            <strong>Số Điện Thoại:</strong>{{Phone}}
        </h4>
        <h4>

            <strong>Ngày Thu:</strong>{{Date}}
        </h4>
        <h4>

            <strong>Địa Chỉ: </strong>{{Address}}
        </h4>

        <h4>

            <strong>Email:</strong>{{Email}}
        </h4>
        <h4>

            <strong>Tổng Tiền:</strong>{{Total_Money}}
        </h4>
        </div>

    </div>
    <div class="div" style="display: flex; flex-direction: row; justify-content:flex-start">
        <div style="padding: 10px">
            <a href="/PhieuThu" style="color:white;">
                <button type="button"class="btn btn-primary waves-effect waves-light" style="margin-bottom: 10px;">Back</button>
            </a>
        </div>
    </div>
