<div class="container">
    <div class="div" style="display: flex; flex-direction: row; justify-content:flex-end">
        <div style="padding: 10px">
            <a href="/LoaiDaiLy/edit/{{ID}}" style="color:white;">
                <button type="button"class="btn btn-primary waves-effect waves-light" style="margin-bottom: 10px;">Sửa Thông Tin</button>
            </a>
        </div>
        <div style="padding: 10px">
            <a href="/LoaiDaiLy/delete/{{ID}}" style="color:white;">
                <button type="button"class="btn btn-primary waves-effect waves-light" style="margin-bottom: 10px;">Xóa</button>
            </a>
        </div>
</div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Thông Tin Loại Đại Lý</h2>
        </div>
        <div class="panel-body">
        <h4>

            <strong>ID:</strong>{{ID}}
        </h4>

        <h4>

            <strong>Tên:</strong>{{Name}}
        </h4>
        <h4>

            <strong>Nợ Tối Đa:</strong>{{Max_debt}}
        </h4>
        </div>

    </div>
    <div class="div" style="display: flex; flex-direction: row; justify-content:flex-start">
        <div style="padding: 10px">
            <a href="/LoaiDaiLy" style="color:white;">
                <button type="button"class="btn btn-primary waves-effect waves-light" style="margin-bottom: 10px;">Back</button>
            </a>
        </div>
    </div>
