<div class="container">
  <div style="display:flex; justify-content:flex-end">
    <a href="/PhieuXuat/add" style="color:white;"><button
        type="button"
        class="btn btn-primary waves-effect waves-light"
        style="margin-bottom: 10px;"
      >Thêm Phiếu Xuất</button></a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body">

          <table
            id="datatable-fixed-header"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th class="text-center">Đại Lý</th>
                <th class="text-center" style="width:20%">Ngày</th>

                <th class="text-center" >Tổng Tiền</th>

              </tr>
            </thead>

            <tbody>
              {{#each phieuXuat}}
                <tr>
                  <td> <a href="/PhieuXuat/{{ID}}">{{DaiLy_ID}}</a></td>
                  <td> <a href="/PhieuXuat/{{ID}}">{{Date}}</a></td>
                  <td> <a href="/PhieuXuat/{{ID}}">{{Total_Money}}</a></td>

                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>