<div class="container center-block" style="width:500px">
        {{#if message}}
            <div class="alert alert-danger">
               <div>{{message}}</div>
            </div>
        {{/if}}
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form  action="/CT_PhieuXuat/edit/{{PhieuXuat_ID}}/{{STT}}" method="post">
                        <div class="form-group">
                                <label>Phiếu Xuất</label>
                                <input type="text" class="form-control" name="PhieuXuat_ID" readonly value={{PhieuXuat_ID}} />
                        </div>

                        <div class="form-group">
                                <label>Hàng Hóa</label>

                                <select name="HangHoa_ID" id="HangHoa_ID" class="form-control" required>
                                <option value="{{HangHoa_ID}}" selected>{{HangHoa_ID}}</option>

                                    {{#each hangHoa}}
                                        <option value="{{ID}}">{{ID}}</option>
                                    {{/each}}
                                </select>
                        </div>
                        <div class="form-group">
                                <label>Số Lượng</label>
                                <input type="text" class="form-control" name="Number" id="Number" value={{Number}} />
                        </div>

                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-default waves-effect m-l-5">
                                    Reset
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
</div>